services:
  docmost:
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - db
      - redis
    environment:
      APP_URL: ${APP_URL}
      APP_SECRET: ${APP_SECRET}
      DATABASE_URL: ${DATABASE_URL}
      REDIS_URL: ${REDIS_URL}

      # Enable polling for file changes (useful for some systems)
      CHOKIDAR_USEPOLLING: true
      WATCHPACK_POLLING: true
    ports:
      - "3000:3000"
      - "5173:5173"    # Vite dev server (client)
      - "3001:3001"    # Collaboration server
    restart: unless-stopped
    volumes:
      # Mount source code for hot reload
      - .:/app
      # Exclude node_modules to avoid conflicts
      - /app/node_modules
      - /app/apps/client/node_modules
      - /app/apps/server/node_modules
      - /app/packages/editor-ext/node_modules
      # Mount data directory
      - docmost:/app/data/storage

  db:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: docmost
      POSTGRES_USER: docmost
      POSTGRES_PASSWORD: STRONG_DB_PASSWORD
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql

  redis:
    image: redis:8.2-alpine
    command: ["redis-server", "--appendonly", "yes", "--maxmemory-policy", "noeviction"]
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  docmost:
  db_data:
  redis_data:
