name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # - name: Set up QEMU
        # QEMU enables emulation for multi-platform builds
        # uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        # Buildx is a Docker component that enables multi-platform builds
        uses: docker/setup-buildx-action@v3

      - name: Set image tag
        id: meta
        run: |
          REPO_LOWER=$(echo "${{ github.repository }}" | tr '[:upper:]' '[:lower:]')
          echo "image=ghcr.io/${REPO_LOWER}:latest" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: . # Directory of the Dockerfile (defaults to repo root)
          push: ${{ github.event_name != 'pull_request' }} # Only push on 'push' event
          tags: ${{ steps.meta.outputs.image }}
          platforms: linux/amd64,linux/arm64